[Unit]
Description=The gstreamill encoder server

[Service]
Type=forking
PIDFile=/var/run/gstreamill/pid
ExecStart=/usr/local/bin/gstreamill
ExecStop=/bin/kill -s SIGUSR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
