
.body_content {
    width: 780px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    padding-left: 0px;
}

.pipeline-stat, .network-conf {
    margin-left: 5px;
    margin-right: 5px;
}

.well > .table {
    margin-bottom: 0px;
}

#joblist li {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#joblist li:last-child {
    border: 0;
}

