/*form styles*/
#msform {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    width: 600px;
    text-align: left;
    position: absolute;
}

#msform fieldset .agroup {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#msform fieldset input, label {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

